/* Container centralizado */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

/* Card */
.auth-card {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Título */
.auth-card h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* Botão */
.auth-card button {
  width: 100%;
  padding: 10px;
  background: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Erro */
.erro {
  color: red;
  text-align: center;
}